body {
    margin: 0;
}

.img-container {
    height: 100vh;
    background-image: url("assets/clouds.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}