body {
    margin: 0;
}

.img-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-image: url("assets/clouds.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.banner {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.banner > p {
    font-size: 5rem;
    color: white;
    margin: 0;
}

.logo {
    content: url("assets/odin-lined.png");
    max-height: 5rem;
}