@font-face {
    font-family: "Norse Bold";
    src: url("assets/norse-bold.otf") format("opentype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
    background-color: #233D64;
}

.img-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-image: url("assets/clouds.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 20vh;
}

.banner > p {
    font-family: "Norse Bold", system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 5rem;
    color: white;
    padding-top: 20px;
}

.logo {
    content: url("assets/odin-lined.png");
    max-height: 5rem;
}

.scroll-text {
    font-family: system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 1.2rem;
    color: white;
    margin-top: auto;
    margin-bottom: 15px;
}

.down-arrow-container {
    height: 50px;
    width: 60px;
    text-align: center;
    margin-bottom: 20px;
    background-color: transparent;
    border: none;
}

.down-arrow-container:focus-visible {
    outline: 3px solid #ff99ab;
}

.down-arrow {
    border: solid white;
    border-width: 0 6px 6px 0;
    display: inline-block;
    padding: 6px;
    -webkit-animation: bounce 1.5s infinite;
    animation: bounce 1.5s infinite;
}

@-webkit-keyframes bounce {

    0%,
    100% {
        -webkit-transform: translateY(-10px) rotate(45deg);
    }

    50% {
        -webkit-transform: translateY(10px) rotate(45deg);
    }
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(-10px) rotate(45deg);
    }

    50% {
        transform: translateY(10px) rotate(45deg);
    }
}

.form-container {
    height: 100vh;
    color: white;
    padding: 35px 90px 0;
}

.form-header {
    text-align: center;
}

.form-header > h1 {
    margin-bottom: 30px;
}

.form-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-row > input {
    font-size: 1rem;
    color: white;
    background-color: transparent;
    padding: 7px;
    border: 1px solid white;
    border-radius: 3px;
}

.form-row > input + span {
    position: relative;
}

.form-row > input + span::before {
    font-size: 1.3rem;
    position: absolute;
    right: 10px;
    top: -30px;
}

.validPhone + span::before,
.showCat:valid + span::before {
    content: "😸";
}

.invalidPhone + span::before,
.showCat:invalid + span::before {
    content: "😾";
}

.form-row > input:focus {
    border-color: #ff99ab;
    outline: 3px solid #ff99ab;
}

.form-row > label {
    font-size: 0.875rem;
    margin-bottom: 5px;
}

.submit-btn {
    font-family: inherit;
    font-size: 1.1rem;
    background-color: #ff99ab;
    border: none;
    color: #233D64;
    border-radius: 5px;
    margin-top: 15px;
    padding: 10px;
}

.submit-btn:active {
    -webkit-filter: brightness(80%);
    filter: brightness(80%);
}

.submit-btn:focus-visible {
    outline: 3px solid white;
}

.login {
    display: flex;
    justify-content: center;
    gap: 4px;
}

.login > a,
.login > a:link {
    color: white;
    text-decoration: underline;
}

.login > a:visited {
    color: white;
}

.login > a:focus-visible {
    outline: 3px solid #ff99ab;
}

.login > a:active {
    -webkit-filter: brightness(80%);
    filter: brightness(80%);
}

@media only screen and (min-width: 900px) {
    body {
        display: flex;
    }

    .page-left {
        flex-shrink: 0;
        flex-grow: 1;
        flex-basis: 30vw;
    }

    .page-right {
        flex-shrink: 1;
        flex-grow: 0;
        flex-basis: 60vw;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .scroll-text,
    .down-arrow-container {
        display: none;
    }    

    .form-container {
        height: fit-content;
        padding-top: 0;
        display: grid;
    }

    form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 50px;
    }

    form > .form-row:last-child {
        grid-column: 1 / -1;
        display: flex;
        align-items: center;
        margin-bottom: 30px;
    }

    .form-row {
        min-width: 200px;
    }

    .submit-btn {
        width: fit-content;
        cursor: pointer;
        margin-top: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .submit-btn:hover {
        transform: scale(1.05);
    }

    .login > a {
        cursor: pointer;
    }
}