@font-face {
    font-family: "Norse Bold";
    src: url("assets/norse-bold.otf") format("opentype");
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

.img-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-image: url("assets/clouds.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 20vh;
}

.banner > p {
    font-family: "Norse Bold", sans-serif;
    font-size: 5rem;
    color: white;
    margin: 0;
    padding-top: 20px;
}

.logo {
    content: url("assets/odin-lined.png");
    max-height: 5rem;
}

.scroll-text {
    font-family: "Norse Bold";
    font-size: 1.3rem;
    color: white;
    margin-top: auto;
    margin-bottom: 20px;
}

.down-arrow-container {
    width: 60px;
    text-align: center;
    margin-bottom: 20px;
    background-color: transparent;
    border: none;
}

.down-arrow {
    border: solid white;
    border-width: 0 6px 6px 0;
    display: inline-block;
    padding: 6px;
    -webkit-animation: bounce 1.5s infinite;
    animation: bounce 1.5s infinite;
}

@-webkit-keyframes bounce {

    0%,
    100% {
        -webkit-transform: translateY(-10px) rotate(45deg);
    }

    50% {
        -webkit-transform: translateY(10px) rotate(45deg);
    }
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(-10px) rotate(45deg);
    }

    50% {
        transform: translateY(10px) rotate(45deg);
    }
}

.form-container {
    height: 100vh;
}